{% extends "layout.html" %}
{% block content %}
    <a class="btn btn-primary" href="{{ url_for('data_vizualization.index') }}" role="button">Back</a>
    <h4>Statistics Analysis </h4>
    <div class="chart" id="Statistics Analysis">
        <script>
            var graphs = {{statisticChart | safe}};
            var layout = {
              };
            Plotly.newPlot('Statistics Analysis',graphs,layout);
        </script>
    </div>
    <h4>Power Analysis</h4>
    <div class="chart" id="Power Analysis">
        <script>
            var graphs = {{powerChart | safe}};
            var layout = {
              };
            Plotly.newPlot('Power Analysis',graphs,layout);
        </script>
    </div>
{% endblock content %}
