{% extends "layout.html" %}
{% block content %}
    <a class="btn btn-primary" href="{{ url_for('data_vizualization.index') }}" role="button">Back</a>
    <h1>Design Analysis</h1>
    <ul class="nav nav-tabs" id="metadataTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="explicited-design-tab" data-toggle="tab" href="#explicited-design" role="tab" aria-controls="explicited-design" aria-selected="true">Explicited Design</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="all-design-tab" data-toggle="tab" href="#all-design" role="tab" aria-controls="all-design" aria-selected="false">All Designs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="treatment-tab" data-toggle="tab" href="#treatment" role="tab" aria-controls="treatment" aria-selected="false">Treatment by Factor</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="explicited-design" role="tabpanel" aria-labelledby="explicited-design-tab">
        <h4>Explicited Design</h4>
        <div class="chart" id="Explicited Design">
            <script>
                var graphs = {{explicited_design | safe}};
                var layout = {
                      xaxis: {
                        autotick: false,
                        ticks: "outside",
                        tick0: 0,
                        dtick: 1
                      }
                  };
                Plotly.newPlot('Explicited Design',graphs,layout);
            </script>
        </div>
      </div>
      <div class="tab-pane fade" id="all-design" role="tabpanel" aria-labelledby="all-design-tab">
        <h4>All Designs</h4>
        <div class="chart" id="All Designs">
            <script>
                var graphs = {{all_design | safe}};
                var layout = {
                      xaxis: {
                        autotick: false,
                        ticks: "outside",
                        tick0: 0,
                        dtick: 1
                      }
                  };
                Plotly.newPlot('All Designs',graphs,layout);
            </script>
        </div>
      </div>
      <div class="tab-pane fade" id="treatment" role="tabpanel" aria-labelledby="treatment-tab">
        <h4>Treatment by Factor</h4>
        <div class="chart" id="Treatment by Factor">
          <script>
            var graphs = {{treatment | safe}};
            var layout = {
                  xaxis: {
                    autotick: false,
                    ticks: "outside",
                    tick0: 0,
                    dtick: 1
                  }
              };
            Plotly.newPlot('Treatment by Factor',graphs,layout);
          </script>
      </div>
      </div>
    </div>
{% endblock content %}
