{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
        <h2 class="article-title">{{ title }}</h2>
        <div class="article-metadata">
          <small class="text-muted"><b>Authors</b>: {{ author }}</small> <br>
          <small class="text-muted"><b>Publicattion year</b>: {{ year }}</small> <br>
          <small class="text-muted"><b>Year</b>: {{ year }}</small> <br>
          <small class="text-muted"><b>Venue</b>: {{ venue }}</small>
        </div>
        <p class="article-content"><b>Abstract</b>: {{ abstract }}</p>
        <a class="mr-2" href="{{ link }}" target="_blank">More Information</a>
    </div>
  </article>
{% endblock content %}
