{% extends "layout_materialize.html" %}
{% block content %}
<div class="container">
         <div class="row"></div>
         <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content deep-purple-text text-lighten-1">
                        <span class="card-title"><h3>{{ title }}</h3></span>
                        <b>Authors</b>: {{ author }}</small> <br>
                        <div class="divider"></div> <br>
                        <span><a href="{{ link }}" target="_blank">Go to article</a> <i class="card-title activator material-icons right">more_horiz</i></span>
                    </div>
                    <div class="card-reveal deep-purple-text text-lighten-1">
                        <span class="card-title">Abstract<i class="material-icons right">close</i></span>
                        <p>{{ abstract }}</p>
                    </div>
                </div>
            </div>

                <div class="col s12">
                    <table class="striped highlight responsive-table" >
                        <thead>
                             <tr>
                                <th>Article</th>
                                <th>Venue</th>
                                <th>Year</th>
                             </tr>
                        </thead>
                        <tbody>
                            {% for ref in references %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('finder.details_teste', pub_id=ref.pub_id) }}">{{ ref.title }}</a>
                                    </td>
                                    <td> {{ ref.venue }} </td>
                                    <td> {{ ref.year }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
         </div>
{% endblock content %}
