{% extends "layout.html" %}
{% block content %}
    {% for post in pubs.items %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('finder.details', pub_id=post.pub_id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.authors }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in pubs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if pubs.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('finder.search', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('finder.search', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
