{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="col s12">
        <h4>Search Paper Characteristics</h4>
        <div class="row">
            <div class="col s12">
                <div class="row">
                     <div class="input-field col s12">
                        <select id="design">
                            <option value="" disabled>Choose your design</option>
                            {% for design in choices.get("designs") %}
                            <option value="{{ design }}">{{ design }}</option>
                            {% endfor %}
                        </select>
                         <label>Designs</label>
                    </div>
                    <div class="input-field col s12">
                        <select multiple id="task">
                            <option value="" disabled>Choose your task</option>
                            {% for task in choices.get("tasks") %}
                            <option value="{{ task }}">{{ task }}</option>
                            {% endfor %}
                            </select>
                        <label>Task Type</label>
                    </div>
                    <div class="input-field col s12">
                        <select multiple id="measurement">
                            <option value="" disabled>Choose your measurement</option>
                        {% for measurement in choices.get("measurements") %}
                          <option value="{{ measurement }}">{{ measurement }}</option>
                        {% endfor %}
                        </select>
                         <label>Measurements</label>
                    </div>
                    <div class="input-field col s12">
                        <select id="sample">
                            <option value="" disabled>Choose your sample</option>
                            {% for sample in choices.get("samples") %}
                            <option value="{{ sample }}">{{ sample }}</option>
                            {% endfor %}
                        </select>
                         <label>Sample Type</label>
                    </div>
                    <div class="col s12">
                        <a class="waves-effect waves-light btn-large" id="search"><i class="material-icons left">search</i>Search</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6" id="result-search">

        </div>


    </div>

</div>


{% endblock content %}
{% block scripts %}
<script type="module">
import {init_search_characteristics} from "../../static/js/init_event_search_characteristics.js";

init_search_characteristics();
</script>
{% endblock %}